<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cars</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <main>
            <a href="/">&#8592; Back</a>            
            <br><br>
            <img src="http://localhost:7077/img/car1.png" alt="Car 1" />
            <img src="http://localhost:7077/img/car2.png" alt="Car 2" />
            <img src="http://localhost:7077/img/car3.png" alt="Car 3" />
        </main>
    </body>
</html>
