<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cats</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <main>
            <a href="/">&#8592; Back</a>            

            <img src="http://localhost:7077/img/cat1.png" alt="Cat 1" />
            <img src="http://localhost:7077/img/cat2.png" alt="Cat 2" />
            <img src="http://localhost:7077/img/cat3.png" alt="Cat 3" />
        </main>
    </body>
</html>
