<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Cars and Cats</title>
        <link rel="stylesheet" type="text/css" href="/css/style.css">
    </head>
    <body>
        <main>
            <h1>Cars &amp; Cats</h1>
            
            <p>Checkout some cool cars: <a href="/cars">'localhost:7077/cars'</a><br>
               Add a car: <a href="/cars/new">'localhost:7077/cars/new'</a></p>

            <h4>OR</h4>
            
            <p>Checkout some cool cats: <a href="/cats">'localhost:7077/cats'</a></p>            

        </main>
    </body>
</html>