<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express || Cars</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:2000/style.css">
</head>
<body>
    <main>
        <h1>Express Cars</h1>
        <img src="http://localhost:2000/img/car1.png" alt="Car 1" />
        <img src="http://localhost:2000/img/car2.png" alt="Car 2" />
        <img src="http://localhost:2000/img/car3.png" alt="Car 3" />
        <br><br>
        <a href="http://localhost:2000/index.html">Back</a>
    </main>
</body>
</html>