<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Express || Cats</title>
    <link rel="stylesheet" type="text/css" href="http://localhost:2000/style.css">
</head>
<body>
    <main>
        <h1>CATs<br><u>Most Wanted</u></h1>

        <a href="/cats/1"><img src="http://localhost:2000/img/cat1.png" alt="Cat 1" /></a>
        <a href="/cats/2"><img src="http://localhost:2000/img/cat2.png" alt="Cat 2" /></a>
        <a href="/cats/3"><img src="http://localhost:2000/img/cat3.png" alt="Cat 3" /></a>
        <br><br>
        <a href="http://localhost:2000/index.html">Back</a>    
    </main>
</body>
</html>